In [59]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model

In [168]:
X_cat = pd.read_csv('lab-customer-analysis-round-4/categorical_data_from_round4.csv')
X_cat = X_cat.drop(['Unnamed: 0'], axis=1)

everything else should use one hot encoder...

In [61]:
from sklearn.preprocessing import OneHotEncoder

In [169]:
#encode 'state'
state = pd.DataFrame(X_cat['state'])

state_encoder = OneHotEncoder().fit(state)
encoded_state = state_encoder.transform(state).toarray()
onehot_encoded_state = pd.DataFrame(encoded_state,columns=state_encoder.categories_)

onehot_encoded_state = onehot_encoded_state.drop(['Arizona'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_state], axis=1)
X_cat = X_cat.drop(['state'], axis =1)

In [170]:
#encode 'response'
response = pd.DataFrame(X_cat['response'])


response_encoder = OneHotEncoder().fit(response)
encoded_response = response_encoder.transform(response).toarray()
onehot_encoded_response = pd.DataFrame(encoded_response,columns=response_encoder.categories_)

onehot_encoded_response = onehot_encoded_response.drop(['No'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_response], axis=1)
X_cat = X_cat.drop(['response'], axis =1)

In [171]:
#encode 'coverage'
coverage = pd.DataFrame(X_cat['coverage'])

coverage_encoder = OneHotEncoder().fit(coverage)
encoded_coverage = coverage_encoder.transform(coverage).toarray()
onehot_encoded_coverage = pd.DataFrame(encoded_coverage,columns=coverage_encoder.categories_)

onehot_encoded_coverage = onehot_encoded_coverage.drop(['Basic'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_coverage], axis=1)
X_cat = X_cat.drop(['coverage'], axis =1)

In [172]:
#encode 'education'
education = pd.DataFrame(X_cat['education'])

education_encoder = OneHotEncoder().fit(education)
encoded_education = education_encoder.transform(education).toarray()
onehot_encoded_education = pd.DataFrame(encoded_education,columns=education_encoder.categories_)

onehot_encoded_education = onehot_encoded_education.drop(['Bachelor'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_education], axis=1)
X_cat = X_cat.drop(['education'], axis =1)

In [173]:
#encode 'employmentstatus'
estatus = pd.DataFrame(X_cat['employmentstatus'])

estatus_encoder = OneHotEncoder().fit(estatus)
encoded_estatus = estatus_encoder.transform(estatus).toarray()
onehot_encoded_estatus = pd.DataFrame(encoded_estatus,columns=estatus_encoder.categories_)

onehot_encoded_estatus = onehot_encoded_estatus.drop(['Employed'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_estatus], axis=1)
X_cat = X_cat.drop(['employmentstatus'], axis =1)

In [174]:
#encode 'gender'
gender = pd.DataFrame(X_cat['gender'])

gender_encoder = OneHotEncoder().fit(gender)
encoded_gender = gender_encoder.transform(gender).toarray()
onehot_encoded_gender = pd.DataFrame(encoded_gender,columns=gender_encoder.categories_)

onehot_encoded_gender = onehot_encoded_gender.drop(['M'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_gender], axis=1)
X_cat = X_cat.drop(['gender'], axis =1)

In [175]:
#encode 'location code'
lc = pd.DataFrame(X_cat['location code'])

lc_encoder = OneHotEncoder().fit(lc)
encoded_lc = lc_encoder.transform(lc).toarray()
onehot_encoded_lc = pd.DataFrame(encoded_lc,columns=lc_encoder.categories_)

onehot_encoded_lc = onehot_encoded_lc.drop(['Suburban'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_lc], axis=1)
X_cat = X_cat.drop(['location code'], axis =1)

In [176]:
#encode 'marital status'
ms = pd.DataFrame(X_cat['marital status'])

ms_encoder = OneHotEncoder().fit(ms)
encoded_ms = ms_encoder.transform(ms).toarray()
onehot_encoded_ms = pd.DataFrame(encoded_ms,columns=ms_encoder.categories_)

onehot_encoded_ms = onehot_encoded_ms.drop(['Married'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_ms], axis=1)
X_cat = X_cat.drop(['marital status'], axis =1)

In [177]:
#encode 'policy type'
pt = pd.DataFrame(X_cat['policy type'])

pt_encoder = OneHotEncoder().fit(pt)
encoded_pt = pt_encoder.transform(pt).toarray()
onehot_encoded_pt = pd.DataFrame(encoded_pt,columns=pt_encoder.categories_)

onehot_encoded_pt = onehot_encoded_pt.drop(['Personal Auto'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_pt], axis=1)
X_cat = X_cat.drop(['policy type'], axis =1)

In [178]:
#encode 'policy'
policy = pd.DataFrame(X_cat['policy'])

policy_encoder = OneHotEncoder().fit(policy)
encoded_policy = policy_encoder.transform(policy).toarray()
onehot_encoded_policy = pd.DataFrame(encoded_policy,columns=policy_encoder.categories_)

onehot_encoded_policy = onehot_encoded_policy.drop(['Personal L3'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_policy], axis=1)
X_cat = X_cat.drop(['policy'], axis =1)

In [179]:
#encode 'renew offer type'
rot = pd.DataFrame(X_cat['renew offer type'])

rot_encoder = OneHotEncoder().fit(rot)
encoded_rot = rot_encoder.transform(rot).toarray()
onehot_encoded_rot = pd.DataFrame(encoded_rot,columns=rot_encoder.categories_)

onehot_encoded_rot = onehot_encoded_rot.drop(['Offer1'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_rot], axis=1)
X_cat = X_cat.drop(['renew offer type'], axis =1)

In [180]:
#encode 'sales channel'
sc = pd.DataFrame(X_cat['sales channel'])

sc_encoder = OneHotEncoder().fit(sc)
encoded_sc = sc_encoder.transform(sc).toarray()
onehot_encoded_sc = pd.DataFrame(encoded_sc,columns=sc_encoder.categories_)

onehot_encoded_sc = onehot_encoded_sc.drop(['Agent'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_sc], axis=1)
X_cat = X_cat.drop(['sales channel'], axis =1)

In [181]:
#encode 'vehicle class'
vc = pd.DataFrame(X_cat['vehicle class'])

vc_encoder = OneHotEncoder().fit(vc)
encoded_vc = vc_encoder.transform(vc).toarray()
onehot_encoded_vc = pd.DataFrame(encoded_vc,columns=vc_encoder.categories_)

onehot_encoded_vc = onehot_encoded_vc.drop(['SUV'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_vc], axis=1)
X_cat = X_cat.drop(['vehicle class'], axis =1)

In [182]:
#encode 'vehicle size'
vs = pd.DataFrame(X_cat['vehicle size'])

vs_encoder = OneHotEncoder().fit(vs)
encoded_vs = vs_encoder.transform(vs).toarray()
onehot_encoded_vs = pd.DataFrame(encoded_vs,columns=vs_encoder.categories_)

onehot_encoded_vs = onehot_encoded_vs.drop(['Medsize'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_vs], axis=1)
X_cat = X_cat.drop(['vehicle size'], axis =1)

In [183]:
#encode 'effective to month'
etm = pd.DataFrame(X_cat['effective to month'])

etm_encoder = OneHotEncoder().fit(etm)
encoded_etm = etm_encoder.transform(etm).toarray()
onehot_encoded_etm = pd.DataFrame(encoded_etm,columns=etm_encoder.categories_)

onehot_encoded_etm = onehot_encoded_etm.drop(['January'], axis=1)

X_cat = pd.concat([X_cat, onehot_encoded_etm], axis=1)
X_cat = X_cat.drop(['effective to month'], axis =1)

In [184]:
X_cat.head()

,"(California,)","(Nevada,)","(Oregon,)","(Washington,)","(Yes,)","(Extended,)","(Premium,)","(College,)","(Doctor,)","(High School or Below,)",...,"(Call Center,)","(Web,)","(Four-Door Car,)","(Luxury Car,)","(Luxury SUV,)","(Sports Car,)","(Two-Door Car,)","(Large,)","(Small,)","(February,)"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [185]:
X_cat.columns

Index([          ('California',),               ('Nevada',),
                     ('Oregon',),           ('Washington',),
                        ('Yes',),             ('Extended',),
                    ('Premium',),              ('College',),
                     ('Doctor',), ('High School or Below',),
                     ('Master',),             ('Disabled',),
              ('Medical Leave',),              ('Retired',),
                 ('Unemployed',),                    ('F',),
                      ('Rural',),                ('Urban',),
                   ('Divorced',),               ('Single',),
             ('Corporate Auto',),         ('Special Auto',),
               ('Corporate L1',),         ('Corporate L2',),
               ('Corporate L3',),          ('Personal L1',),
                ('Personal L2',),           ('Special L1',),
                 ('Special L2',),           ('Special L3',),
                     ('Offer2',),               ('Offer3',),
                     ('Offer4',),               ('Branch',),
                ('Call Center',),                  ('Web',),
              ('Four-Door Car',),           ('Luxury Car',),
                 ('Luxury SUV',),           ('Sports Car',),
               ('Two-Door Car',),                ('Large',),
                      ('Small',),             ('February',)],
      dtype='object')

Concat DataFrames

In [188]:
X_num = pd.read_csv('data_normalized_from_round5.csv')

In [192]:
X_n = pd.concat([X_num, X_cat], axis=1)
X_n.drop('Unnamed: 0', axis=1)

,income,monthly premium auto,months since policy inception,number of open complaints,number of policies,total claim amount,response rate,"(California,)","(Nevada,)","(Oregon,)",...,"(Call Center,)","(Web,)","(Four-Door Car,)","(Luxury Car,)","(Luxury SUV,)","(Sports Car,)","(Two-Door Car,)","(Large,)","(Small,)","(February,)"
0,0.480381,0.000000,0.525253,0.0,1.000,0.101171,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.000000,0.012658,0.262626,0.0,0.000,0.257445,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.221432,0.164557,0.313131,0.0,0.125,0.165875,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.490873,0.151899,0.030303,0.0,0.125,0.167263,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.236795,0.236287,0.313131,0.0,0.750,0.244657,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0.000000,0.810127,0.404040,0.0,0.750,0.419717,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10906,0.611576,0.016878,0.686869,0.0,0.625,0.094333,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10907,0.398446,0.590717,0.636364,0.0,0.125,0.131763,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
10908,0.642072,0.409283,0.272727,0.8,0.625,0.213674,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10909,0.000000,0.168776,0.010101,0.0,0.250,0.353118,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Linear Regression

Train-test split.

In [199]:
from sklearn.model_selection import train_test_split
y = pd.read_csv('y_from_round5.csv')
y = y.drop(['Unnamed: 0'], axis =1)
X_train, X_test, y_train, y_test = train_test_split(X_n, y, test_size=0.2, random_state=100) #use random_state to keep same set even if notebook is re-run

Apply linear regression.

In [202]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
predictions = lm.predict(X_test)

## Model Validation

In [206]:
import sklearn.metrics as metrics

R2

In [209]:
r2 = metrics.r2_score(y_test, predictions)
r2

0.13668723369718594

MSE

In [210]:
mse = metrics.mean_squared_error(y_test, predictions)
mse

46378126.463633806

RMSE

In [211]:
rmse = np.sqrt(mse)
rmse

6810.148784250885

MAE

In [212]:
mae = metrics.mean_absolute_error(y_test, predictions)
mae

4201.328341754197